div.invite-wrapper {
    display: flex;
}

img.invite-image {
    width: 100px;
    height: 100px;
    margin-top: -7.5px
}

div.invite-details {
    margin-left: 2em;
}

img.invite-member-icon {
    border-radius: 999px;
    height: 35px;

    margin: auto;
    /* margin-left: 0.75em */
}

div.invite-member-icons {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    margin-top: 7em;
    position: absolute;
    width: 100px;
}

div.invite-member-icon-wrapper {
    display: flex;
}

div.portal-indicator {
    position: absolute;

    width: 100px;
    height: 70px;

    margin-top: 8px;
    border-radius: 10px;

    z-index: -1;
}