div.invite-wrapper {
    max-width: 65%
}

div.options {
    width: fit-content;

    margin: auto;
}

div.options.is-horizontal {
    display: flex
}

div.options div.option {
    width: 14em;
    height: fit-content;
    
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center
}

div.options:not(.has-link) div.option {
    margin-left: 2em
}

div.options:not(.has-link) div.option:first-child {
    margin-left: 0
}

div.options.has-link a {
    color: black;

    margin-left: 2em
}

div.options.has-link a:first-child {
    margin-left: 0
}

div.options a div.option {
    margin-top: 2em
}

div.options.is-horizontal a div.option {
    margin-top: 0
}

div.options.is-horizontal a:first-child div.option {
    margin-top: 0
}

div.option *:last-child {
    margin-bottom: 0
}

div.option div.option-inner {
    width: 100%
}

a.disabled div.option, div.option.disabled {
    opacity: 0.65
}

div.option div.option-inner.active div.input, div.option div.option-inner.active div.button {
    width: calc(100% - 10px*2)
}

div.options div.option:hover, div.options div.option:active {
    border-color: rgba(0, 0, 0, 0)
}

div.option img.icon {
    height: 40px
}

div.option img.icon.loading {
    border-radius: 7.5px
}

div.portal-indicator {
    position: absolute;

    width: 40px;
    height: 25px;

    margin-top: 6.5px;
    border-radius: 5px;

    z-index: -1;
}

div.option h3.header {
    margin-bottom: 0.5em;
    color: black
}

div.option h3.header.active {
    margin-top: 0;
    margin-bottom: 1em
}

div.option h3.header {
    margin-bottom: 0.5em;
    color: white
}

div.option h3.header:last-child {
    margin-bottom: 0
}

div.option p.description {
    margin-top: 0em;
    color: #151515
}

div.home-room-wrapper {
    display: flex
}

img.icon {
    filter: invert(1)
}

@media screen and (prefers-color-scheme: light) {
    div.option h3.header {
        color: black
    }

    img.icon {
        filter: invert(0)
    }
}