body {
    background-color: black;
}

div.center {
    width: 60%;
    max-width: 100%
}

div.center:not(.has-landing-video) {
    max-width: 60%;
    width: fit-content
}

div.landing div.left, div.landing div.right {
    position: absolute;

    top: 0px;
    width: 50%;
    height: 100%
}

div.landing div.left {
    display: flex;
    justify-content: center;
    align-items: center;
    
    left: 0px
}

div.landing div.right {
    overflow: hidden;

    left: 50%;
    
    pointer-events: none
}

div.center img.logo {
    height: 30px;
    margin-bottom: 0.5em
}

div.login, div.continue {
    width: fit-content;

    margin-top: 1.35em
}

div.login div.buttons a.button-wrapper div.button {
    margin-top: 0.65em
}

p.disclaimer {
    position: absolute;

    color: gray;
    font-size: 14px;

    margin: 0;
    margin-top: 12.5px;
}

div.right .video {
    position: absolute;
    transform: translateX(-50%);

    left: 50%;
    right: 0px;
    height: 100%
}

@media only screen and (max-width: 900px) {
    div.landing div.left, div.landing div.right {
        width: 100%;
        height: 100%;
    }
    
    div.landing div.right {
        display: none
    }
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white
    }
}