* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a {
    color: rgb(199, 199, 199);
    text-decoration: none;
}

a:hover {
    color: rgb(133, 133, 133);
}

div.header {
    position: fixed;

    top: 0;
    left: 0;
    
    border-bottom: rgba(112, 128, 144, 0.25) 1px solid;
    background-color: black;
    
    padding: 16px;

    height: 32px;
    width: 100%;

    z-index: 9997;

    display: flex;
}

div.header h1.title {
    margin: 0;
    margin-left: 0.65em;
    font-size: 27px;
    font-weight: 500;
    color: black;
}

div.header div.left, div.header div.right {
    position: fixed;
    height: 36px;

    display: flex
}

div.right {
    right: 16px
}

div.header img.logo, div.header div.gradient, div.header img.profile-image {
    height: 32px
}

div.header div.gradient {
    position: absolute;

    top: 0;
    width: 39px;

    mask-repeat: round;
    -webkit-mask-repeat: round;
    mask-image: url('/img/logo-light.svg');
    -webkit-mask-image: url('/img/logo-light.svg');
    
    opacity: 0;

    transition: all 0.2s
}

div.header div.gradient:hover {
    opacity: 1
}

div.header div.gradient:hover + img.logo {
    visibility: hidden
}

div.header img.profile-image {
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: rgba(112, 128, 144, 0.25);
}

div.header div.header-menu {
    position: fixed;
    pointer-events: none;
    top: 0;
    width: 150px;
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 0px 1px rgba(112, 128, 144, 0.25);
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
}

div.header div.header-menu.visible {
    pointer-events: all;
    opacity: 1;
    top: 60px;
}

div.header-menu.user-menu {
    right: 16px
}

div.header-menu.room-menu {
    left: 16px;
}

div.header-menu div.menu-option:not(.loading) img.menu-option-icon {
    filter: invert(1)
}

div.header-menu img.menu-option-icon.align-top {
    height: fit-content;
    margin-top: 0.3em
}

div.header-menu div.menu-option {
    padding: 0.8em;
    border-bottom: rgba(112, 128, 144, 0.25) 1px solid;

    transition: background-color 0.2s ease-in-out
}

div.header-menu div.menu-option.disabled {
    pointer-events: none
}

div.menu-option.loading p.menu-option-content {
    color: black;
}

div.header-menu a:last-child > div.menu-option {
    border-bottom: none
}

div.menu-option p.menu-option-content.menu-option-title {
    font-size: 18px;
    font-weight: bold;
}

div.menu-option p.menu-option-content.menu-option-subtitle {
    font-size: 15px;
    margin-top: 5px;
    opacity: 0.65;
    font-weight: 300
}

div.menu-option p.menu-option-content.menu-option-hint {
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.65;
    font-weight: 300;
}

div.menu-option.has-icon {
    display: flex
}

div.menu-option.has-icon p.menu-option-content {
    margin-left: 8px
}

div.menu-option .menu-option-content {
    margin: 0;
    padding: 0
}

div.header-menu a {
    text-decoration: none;
    color: white
}

div.header-menu a.menu-option-wrapper:not(.disabled):hover > div.menu-option {
    background-color: #111111
}

div.header-menu a.menu-option-wrapper:not(.disabled):active > div.menu-option {
    background-color: #222222
}

div.menu-cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bf;

    pointer-events: none;
    opacity: 0;

    z-index: -1;

    transition: opacity 0.2s ease-in-out
}

div.menu-cover.visible {
    pointer-events: all;
    opacity: 1;
}

div.content {
    position: absolute;
    top: calc(32px + (16px * 2));
    left: 0px;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white
}

div.content.is-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content.no-header {
    top: 0px
}

div.room-onboarding {
    display: flex
}

h1.title {
    margin-top: 0;
    margin-bottom: 10px
}

p.subtitle {
    margin-top: 0em;
    margin-bottom: 1em
}

p.disclaimer {
    position: absolute;

    color: gray;
    font-size: 14px;

    margin: 0;
    margin-top: 12.5px;
}

div.has-icon h1.title {
    margin-left: 42.5px;
}

img.close-button, img.close-button-hover {
    position: fixed;
    height: 30px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;

    display: none;

    transition: opacity 0.2s ease-in-out
}

div.has-icon img.close-button, div.has-icon img.close-button-hover {
    display: block
}

img.close-button-hover {
    opacity: 0;
    pointer-events: none
}

img.close-button:hover {
    opacity: 0
}

img.close-button-hover:hover {
    opacity: 1
}

img.close-button:hover ~ img.close-button-hover {
    opacity: 1
}

p.error {
    position: absolute;
    color: red
}

div.scrollable {
    top: 40px;
    transform: translateX(-50%);
    margin-bottom: 5em;
    background-color: white;
    z-index: 2;
}

p.pp-disclaimer {
    color: gray;
    font-size: 14px;

    margin: 0;
    margin-top: 12.5px;
}

p.is-divider {
    height: 1px;
    background-color: rgba(112, 128, 144, 0.25)
}

p.last {
    visibility: hidden;
    margin-bottom: 2em
}

a.disabled {
    pointer-events: none
}

span.hint {
    opacity: 0;
    visibility: hidden;
    margin-left: -20px;

    transition: all 0.1s
}

span.hint.visible {
    opacity: 1;
    visibility: visible;
    margin-left: 0
}

div.header-menu a.menu-option-wrapper.disabled {
    cursor: default
}

div.header-menu div.menu-section:not(:first-child):first-of-type {
    border-top: 1.5px rgba(112, 128, 144, 0.5) solid
}

div.header-menu div.menu-section:not(:last-child) {
    border-bottom: 1.5px rgba(112, 128, 144, 0.5) solid
}

::selection {
    background: #9c9c9c
}

::-moz-selection {
    background: #9c9c9c
}

@media screen and (prefers-color-scheme: light) {

    ::selection {
        background: #e4e4e4
    }
    
    ::-moz-selection {
        background: #e4e4e4
    }

    a {
        color: rgba(0, 0, 0, 0.75);
    }

    a:hover {
        color: rgba(0, 0, 0, 0.95)
    }

    div.content {
        background-color: white;
        color: black
    }

    a:hover {
        color: rgba(0, 0, 0, 0.65)
    }

    div.header {
        background-color: white
    }

    div.header h1.title {
        color: white
    }

    div.header div.header-menu {
        box-shadow: 0px 2px 4px #00000017
    }

    div.header div.header-menu {
        background-color: white;
        color: black
    }

    div.header-menu div.menu-option:not(.loading) img.menu-option-icon {
        filter: invert(0)
    }

    div.header-menu a {
        color: black
    }

    /*
    div.header-menu.is-dark img.menu-option-icon.align-top {
    height: fit-content;
    margin-top: 0.3em
    }*/

    div.header-menu a.menu-option-wrapper:not(.disabled):hover > div.menu-option {
        background-color: #f7f7f7
    }
    
    div.header-menu a.menu-option-wrapper:not(.disabled):active > div.menu-option {
        background-color: #ececec
    }

    div.header div.gradient {
        mask-image: url('/img/logo.svg');
        -webkit-mask-image: url('/img/logo.svg');
    }
}