div.chat div.chat-bar-wrapper {
    position: absolute;

    left: 0;
    right: 0;
    height: 80px;
    bottom: 0px;

    border-top: rgba(112, 128, 144, 0.25) 1px solid
}

div.chat-bar-wrapper input.chat-bar {
    position: absolute;

    width: calc(100% - 5em);
    height: 100%;
    left: 1em;
    right: 2em;

    padding: 0;
    outline: 0;
    margin: 0;
    border: 0;

    color: white;
    background-color: rgba(0, 0, 0, 0);
    
    font-size: 20px;
}

div.chat-bar-wrapper div.send-button {
    position: absolute;

    right: 0;
    height: 40px;
    width: 40px;

    margin: 20px;
    border-radius: 13px;

    cursor: not-allowed;

    background-color: #0e0e0e;

    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

div.chat-bar-wrapper div.send-button.is-enabled {
    cursor: pointer;
    background: white
}

/* Add animations */
div.chat-bar-wrapper div.send-button.is-enabled:hover {}

div.chat-bar-wrapper div.send-button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

div.send-button img.send-button-icon {
    filter: invert(0.75);
    margin-bottom: 2.25px;

    height: 25px
}

div.chat-bar-wrapper div.send-button.is-enabled img.send-button-icon {
    filter: invert(0)
}

@media screen and (prefers-color-scheme: light) {

    div.content div.chat-bar-wrapper input.chat-bar {
        color: black
    }

    div.content div.chat-bar-wrapper div.send-button {
        background-color: white
    }
}