div.content div.watch div.player-wrapper {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 181px;
    width: calc(100% - 341px);
}

div.content div.watch div.player-wrapper div.player {
    position: absolute;
    display: inline-block;

    left: 50%;
    width: 100%;
    height: 100%;

    margin: 0 auto;
    overflow: hidden;
    align-content: center;
    
    transform: translateX(-50%);
}

div.player div.player-msg {
    position: absolute;

    top: 50%;
    left: 50%;

    width: fit-content;
    min-width: 70%;

    margin: 0;
    transform: translate(-50%, -50%);
    color: white;
}

div.player-msg h1.title {
    margin-top: 0;
    margin-bottom: 0.5em
}

div.player-msg p.body {
    margin-bottom: 0
}

video.static-placeholder {
    position: fixed;

    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    object-fit: cover;
    transform: translate(-50%,-50%);

    background-color: #100f11
}

p.player-dev {
    position: absolute;
    background-color: rgba(0,0,0,0.72157);

    top: 0px;
    left: 15px;
    width: fit-content;
    max-width: 90%;

    padding: 10px;
    text-align: left;

    font-family: monospace;

    z-index: 999;
    pointer-events: none
}

canvas.player-stream {
    position: fixed;

    outline: none;
    
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    
    transform: translate(-50%, -50%);
}

textarea.keyboard-capture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: default;
    outline: 0;
    opacity: 0;

    margin: 0;
    border: 0;
    padding: 0;
}

div.player div.player-tooltips {
    position: absolute;
    padding: 20px;

    right: 0;
    bottom: 0
}

div.player-tooltips div.player-tooltip {
    display: flex;

    padding: 15px;
    max-width: 320px;

    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(112, 128, 144, .25);

    transition: all 0.2s ease-in-out
}

div.player-tooltips div.player-tooltip:not(.visible) {
    opacity: 0;
    transform: scale(0)
}

div.player-tooltips div.player-tooltip.visible {
    opacity: 1;
    transform: scale(1)
}

div.player-tooltip div.player-tooltip-info {
    margin-right: 0.5em
}

div.player-tooltip p.player-tooltip-title, div.player-tooltip p.player-tooltip-body {
    margin: 0
}

div.player-tooltip p.player-tooltip-title {
    color: black;
    font-weight: 600
}

div.player-tooltip p.player-tooltip-body {
    color: #131313;
    font-weight: 400;

    margin-top: 7.5px;
}

div.player-tooltip a.player-tooltip-action {
    color: black
}
