div.user-icon div.user-name-wrapper {
    position: absolute;

    background-color: white;

    margin: 0;
    width: 100px;
    bottom: 1.5em;

    opacity: 0;
    box-shadow: 0 0 0px 5px black;

    font-weight: bold;
    text-align: center;
    border-radius: 50px;

    transition: all 0.2s;
}

div.user-icon:not(.has-control):hover div.user-name-wrapper {
    bottom: 2.15em;
    opacity: 1;
}

div.user-name-wrapper p.user-name {
    margin: 0;
    color: black !important;
    margin: 6px;

    cursor: default
}

div.chat-bar-wrapper input.disabled {
    opacity: 0.35;
    pointer-events: none;
}

div.watch {
    overflow: none
}

@media screen and (prefers-color-scheme: light) {
    div.user-name-wrapper p.user-name {
        color: white !important
    }
    
    div.user-icon div.user-name-wrapper {
        background-color: black;
    }
}