a.input-wrapper {
    color: white
}

a.input-wrapper div.input {
    padding: 10px;

    background-color: black;
    box-shadow: 0 0 0 1px grey;

    font-weight: 600;
    border-radius: 5px;

    width: fit-content;
    display: flex;

    transition: all 0.2s ease-in-out
}

div.input img.input-icon, div.input img.input-icon-hover {
    height: 25px;
    margin-right: 0.5em
}

div.input img.input-icon-hover {
    display: none
}

div.input:hover img.input-icon {
    display: none
}

div.input:hover img.input-icon-hover {
    display: block
}

div.input input.input-inner {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;

    background-color: rgba(0, 0, 0, 0);
    color: white;

    font-size: 16px;
}

a.input-wrapper div.input:hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    /* background-color: #f7f7f7; */
    /* box-shadow: 0px 4px 10px #00000017 !important */
}

/* a.input-wrapper div.input:active, input.input:focus div.input {
    background-color: #ececec;
    box-shadow: 0px 6px 15px #00000017 !important
} */

a.input-wrapper div.input.discord {
    background-color: #7289DA;
    box-shadow: 0 0 0 1px #7289DA
}

a.input-wrapper div.input.discord:hover {
    color: #7289DA;
    background-color: white
}

div.input.disabled {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none;
}

::placeholder {
    color: white;
    opacity: 0.7
}

@media screen and (prefers-color-scheme: light) {
    ::placeholder {
        color:#999;
        opacity: 1
    }

    a.input-wrapper div.input {
        background-color: white;
        color: black
    }

    a.input-wrapper div.input:hover {
        box-shadow: 0 0 0 1px black
    }
}